# Prerequisites
#include <iostream>
#include<string>
using namespace std;/*可讓Cout & Cin 省略前面的std::*/
int main()
{
    string str;
    getline(cin, str);/*用法：接收一個字串，可以接收空格並輸出，需包含“#include<string>”*/
    for (int i = 0; i < str.size(); i++) {str[i] -= 7;cout << str[i];}
    return 0;
    /*
    Hwwsl = Apple 
    Jvu{yvs'Kh{h = Control Data把輸入的數值轉成ASCII碼再把ASCII碼的數值減7轉換成字元*/
}
